<div class="container my-5">
  <div class="row">
    <div
      class="col-xs-12 col-sm-10 col-md-8 col-sm-offset-1 col-md-offset-2 my-5"
    >
      <form (ngSubmit)="onSubmit()" #f="ngForm">
        <div id="user-data" ngModelGroup="userData"
        #userData = 'ngModelGroup'>
          <div class="form-group" >
            <label for="username">Username</label>
            <input
              type="text"
              id="username"
              class="form-control"
              [(ngModel)]="answer2"
              name="username"
              required
              #name="ngModel"
            />
            <p class="help-block" *ngIf="!name.valid && name.touched">
              Please enter a valid value!
            </p>
            <p>Your replay: {{answer2}}</p>
          </div>

          <div class="form-group">
            <label for="email">Mail</label>
            <input
              type="email"
              id="email"
              class="form-control"
              [(ngModel)]="answer1"
              name="email"
              required
              email
              #email="ngModel"
            />
            <p class="help-block" *ngIf="!email.valid && email.touched">
             
              Please enter a valid value!
            </p>
            <p>Your replay: {{answer1}}</p>
          </div>
          <!-- <p *ngIf="!userData.valid && userData.touched">User Data is not valid</p> -->
        </div>
        <p *ngIf="!userData.valid && userData.touched">User Data is not valid</p>
        <div class="form-group my-4">
          <label for="secret">Secret Questions</label>
          <select 
          id="secret"
           class="form-control my-3"
            [ngModel]="defaultQuestion"
            name="secret">
            <option value="pet">Your first Pet?</option>
            <option value="teacher">Your first teacher?</option>
          </select>
        </div>
        <div class="form-group">
          <textarea 
          class="form-control"
          name="questionAnswer"
           id=""
            cols="10"
             rows="10"
            [(ngModel)]="answer"
             >
            </textarea>
        </div>
        <p>Your replay: {{answer}}</p>

        
     <!-- <div class="dropdown">
  <button class="btn btn-secondary dropdown-toggle" type="button" id="dropdownMenuButton" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
    Dropdown button
  </button>
  <div class="dropdown-menu" aria-labelledby="dropdownMenuButton">
    <a class="dropdown-item" href="#">Action</a>
    <a class="dropdown-item" href="#">Another action</a>
    <a class="dropdown-item" href="#">Something else here</a>
  </div>
</div> -->

      
        <button
          class="btn btn-primary my-3"
          type="submit"
          [disabled]="!f.valid"
        >
          Submit
        </button>
      </form>
    </div>
  </div>
</div>
